apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml

images:
  - name: aminsaedi/mashinato-bot
    newName: ghcr.io/aminsaedi/mashinato-bot
    newTag: 410e84aa9a30236117ee1732270379e9159ce813
